body {
  background-color: rgb(247, 248, 250);
}

.container {
  width: 800px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
  text-align: center;
  margin: auto 0;
}

.column-quarter {
  width: 25%;
  display: flex;
  text-align: center;
  margin: auto;
  justify-content: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.phone-img {
  width: 100%;
}

.icon {
  width: 25%;
}

h2 {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
}

h4 {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
}

p {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
}
